@import "_mixins";
@import "_vars";



*{
    @extend .normalize;
}

/* 
#1C1F26
#8A99A6
#D9BDAD
#594242
#F2F2F2
*/


/* Index.html */

.main{
    background-image: url(../img/pexels-street-donkey-3705687.jpg);
    background-size: cover;
    height: 100%;
}

.main__textcontainer{
    color: #ffffff;
    border: 5px solid rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    width: 500px;
    height: 500px;
    margin: 20px 40px;
    -webkit-box-shadow: 1px 1px 44px 5px rgba(240, 141, 124, 0.75);
    -moz-box-shadow: 1px 1px 44px 5px rgba(240, 141, 124, 0.75);
    box-shadow: 1px 1px 44px 5px rgba(240, 141, 124, 0.75);
}

.main__title{
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 50px;
}

.main__text{
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 23px;
}
.main__imagecontainer{
    height: 600px;
    width: 700px !important; 
    position: relative;
    background-color: rgba(217, 189, 173, 0.767);
    -webkit-box-shadow: 1px 1px 44px 5px rgba(240, 141, 124, 0.75);
    -moz-box-shadow: 1px 1px 44px 5px rgba(240, 141, 124, 0.75);
    box-shadow: 1px 1px 44px 5px rgba(240, 141, 124, 0.75);
}

.main__imagecontainer img{
    border: solid 1px rgb(244, 244, 244);
}



.main__imagecontainer img:nth-child(1){
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: imageAnimationbr 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
.main__imagecontainer img:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    height: 330px;
    animation: imageAnimationtr 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.main__imagecontainer img:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    height: 350px;
    animation: imageAnimationbl 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.main__imagecontainer img:nth-child(4){
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    animation: imageAnimationtl 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes imageAnimationbr{
    0% { bottom: 0px;}
    100%{ bottom: 400px;}
}

@keyframes imageAnimationtr {
    0% { right: 0px;}
    100%{ right: 435px;}
}
@keyframes imageAnimationtl {
    0% { top: 0px;}
    100%{ top: 400px;}
}
@keyframes imageAnimationbl {
    0% { left: 0px;}
    100%{ left: 465px;}
}


@media screen and (max-width: 900px){
    .main__imagecontainer{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .main__textcontainer{
        width: 380px;
        height: 600px;
    }
}