// extends

.normalize{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}

.animations{
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

// mixins

@mixin text($size,$color){
    font-size: $size;
    color: $color;
    text-align: left;
}

@mixin margin($top,$left,$right,$bottom){
    margin-top: $top;
    margin-left: $left;
    margin-right: $right;
    margin-bottom: $bottom;
}


@mixin flex($direction,$justify,$align,$wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}


//condicionales

.icon-lang{
    width: 30px;
    height: 55px;
    background-size: contain;
    background-position:center ;
    @if $lang == es {background-image: url();}
    @else if $lang == en {background-image: url();}
    @else if $lang == fr {background-image: url();}
    @else {background-image: url();} //si ninguno se cumple pone uno por defecto
}


// bucles


@for $i from 1 through 6{//tiene una iteracion(repeticiones) de 6 veces usando variable i
    .text-#{$i}{//concatena con el valor de $i
        font-size: .25em *$i;
    }
}

@each $icono in facebook, twitter, instagram{//crea clases para iconos y se las asigna
    .#{$icono}-icon{
        background-image: url();
        width: 30px;
        height: 30px;
        background-size: 100%;
        list-style: none;
        margin-right: 6px;
    }
}

//