@import "_mixins";
@import "_vars";






.bg-brown{
    background-color: #593E3C;
}






/* Products cards*/


.mainproducts{
    background-color: $pagesBgColor;
}

.bg-beige{
    background-color: #ccbfbf;
}


/* Products footer */
.footer{
    color: #ccbfbf;
}
.footer div h3{
    color: #F2F2F2;
}

.footer a img{
    width: 34px;
}