@import "_vars";
@import "_products";
@import "_mixins";
@import "_home";
@import "_categories";
@import "_hotsale";
@import "_login";
@import "../../node_modules/bootstrap/scss/bootstrap";


.navbar{
    font-size: $navFontSize;
}
.nav-link{
    color: $cWhite;
    &:hover{
        color: #8A99A6;
    }
}