@import "_vars";
@import "_products";
@import "_mixins";
@import "_home";
@import "_categories";
@import "_hotsale";
@import "_login";
@import "../../node_modules/bootstrap/scss/bootstrap";



// Navbar

.navbar{
    font-size: $navFontSize;
}
.nav-link{
    color: $cWhite;
    &:hover{
        color: #8A99A6;
    }
}

.navbar div a img{
    width: 40px;
}



// buttons

.btn-buy{
    background-color: #8a786d;
    color: #F2F2F2;
}
.btn-buy:hover{
    background-color: #2b7085;
    color: #00ff0d;
}


.btn-logIn{
    background-color: #8a786d;
    color: #F2F2F2;
}
.btn-logIn:hover{
    background-color: #2b7085;
    color: #F2F2F2;
}



//Main

main{
    width: 100% !important;
}